.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    color: #000; /* Màu chữ đen */
    font-weight: bold; /* In đậm */
}

/* Hiển thị dropdown khi có class 'show' */
.dropdown-content.show {
    display: block;
}
.dropdown-content a {
    display: block;
    width: 100%;
    white-space: normal;
    text-align: left;
    padding: 8px 16px;
    text-decoration: none;
    color: #000; /* Màu chữ đen */
    font-weight: bold; /* In đậm */
    transition: background-color 0.3s ease; /* Hiệu ứng hover */
}

.dropdown-content a:hover {
    background-color: #f0f0f0; /* Màu nền khi di chuột qua */
}