h2 {
    margin-bottom: 5%;
}
.product_detail{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 1%;
}
.product_detail_row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 1%;
    height: 420px;
    border-bottom: 1px solid #ccc;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
}
.product_detail_container {
    width: 65%;
    display: flex;
    flex-direction: row;
    background: linear-gradient(90deg, #dd5e89, #f7bb97);
    border-radius: 70px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-left: 1%;
}

.product_detail_picture {
    width: 32%;
    margin-right: 5%;
}

.product_detail_picture img {
    max-width: 100%;
    height: 100%;
    border-radius: 4px;
    margin-left: 10%;
    object-fit: contain;
    
}

.product_detail_info_product {
    margin-top: 20px;
}

.info {
    list-style-type: none; /* Loại bỏ dấu đầu dòng của list */
    padding: 0;
}

.info li {
    margin-bottom: 10px;
    display: block; /* Mỗi thẻ li xuống dòng riêng biệt */
    position: relative; /* Sử dụng vị trí tương đối để căn chỉnh chấm */
}

.info li:before {
    content: "\2022"; /* Thêm dấu chấm */
    color: #000; /* Màu chữ cho dấu chấm */
    position: absolute; /* Đưa dấu chấm vào vị trí tương đối của thẻ li */
    left: -15px; /* Điều chỉnh vị trí của dấu chấm */
}

.info li p,
.info li div {
    display: inline-block; /* Các thẻ p và div cùng hiển thị trên cùng một dòng */
    vertical-align: top; /* Đảm bảo sự căn chỉnh theo chiều dọc */
    margin-left: 5px; /* Xóa margin để giữ chặt các phần tử */
}

.info p {
    font-weight: bold;
    color: #000; /* Màu chữ cho các phần tử p */
    margin-right: 5px; /* Khoảng cách giữa các phần tử p và div */
}

.info div {
    background: transparent; /* Đổi màu nền thành trong suốt */
    border-radius: 4px;
}

.product_detail_payment{
    width: 32%;
}
.product_detail_payment .payment_buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5%;
}

.product_detail_payment button {
    background: linear-gradient(#f52f32, #e11b1e);
    border: none;
    border-radius: 20px;
    color: #fff;
    height: 60px;
    margin-bottom: 10px;
    outline: none;
    width: 300px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s; /* Hiệu ứng chuyển đổi màu */
}

.product_detail_payment button:hover {
    background: linear-gradient(#e11b1e, #f52f32);
    color: #fff;
}

.product_detail_payment button:active {
    background: linear-gradient(#ff0000, #cc0000); /* Đổi màu khi nút được nhấn */
    color: #fff;
}
.payment_price{
    font-weight: bold;
    font-size: 20px;
    color: #f52f32;
}


.comment-area {
    width: 80%; /* Chiều rộng của phần bình luận */
    background-color: #fff; /* Màu nền trắng */
    padding: 10px; /* Đệm */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); /* Đổ bóng */
    margin: 20px 0 5px 1px;
}
.guibinhluan {
    display: flex; /* Hiển thị theo kiểu flex */
    align-items: center; /* Căn chỉnh các thành phần theo chiều dọc */
    
}

.guibinhluan textarea {
    width: 80%; /* Chiều rộng của ô nhập liệu */
    height: 80px; /* Chiều cao của ô nhập liệu */
    margin: 20px 10px 10px 5px; /* Khoảng cách phía phải của ô nhập liệu */
    padding: 20px; /* Đệm */
    border: 1px solid #ccc; /* Viền */
    border-radius: 5px; /* Bo góc */
}

.guibinhluan button {
    width: 15%; /* Chiều rộng của nút */
    background: linear-gradient(#f52f32, #e11b1e);
    font-weight: bold;
    color: #fff; /* Màu chữ trắng */
    border: none; /* Không viền */
    padding: 10px 20px; /* Đệm */
    text-transform: uppercase; /* Chữ hoa */
    cursor: pointer; /* Con trỏ chuột */
    border-radius: 15px; /* Bo góc */
}
.guibinhluan button {
    width: 15%; /* Chiều rộng của nút */
    background: linear-gradient(#f52f32, #e11b1e);
    font-weight: bold;
    color: #fff; /* Màu chữ trắng */
    border: none; /* Không viền */
    padding: 10px 20px; /* Đệm */
    text-transform: uppercase; /* Chữ hoa */
    cursor: pointer; /* Con trỏ chuột */
    border-radius: 15px; /* Bo góc */
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s; /* Hiệu ứng chuyển đổi màu */
}

.guibinhluan button:hover {
    background: linear-gradient(#e11b1e, #f52f32);
    color: #fff;
}

.guibinhluan button:active {
    background: linear-gradient(#ff0000, #cc0000); /* Đổi màu khi nút được nhấn */
    color: #fff;
}


.container_comment {
    margin: 15px;
    border: 1px solid #ccc; /* Viền */
    border-radius: 5px; /* Độ cong của viền */
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5); /* Đổ bóng */
    padding: 15px; /* Khoảng cách bên trong */
    max-width: 800px; /* Độ rộng tối đa */
}

.comment {
    margin-bottom: 30px;
    border-bottom: 1px solid #333;
    display: flex;
    flex-direction: column; /* Sắp xếp các phần tử theo cột */
    position: relative;
    border: 1px solid #ccc; /* Viền */
    border-radius: 5px; /* Độ cong của viền */
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5); /* Đổ bóng */
}
.delete_comment {
    padding: 5px;
    background-color: #cc0000;
    color: #fff;
    width: 120px;
    margin-left: 60%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
    
.title_comment{
    display: flex;
    flex-direction: row;
    margin: 5px 0 0 5px;
}
.comment .fa-user-circle {
    margin-bottom: 5px; /* Khoảng cách giữa icon và nội dung */
}

.comment h4 {
    font-size: large;
}
.comment i {
    font-weight: bold;
    font-size: 25px;
    margin: 0 10px 0 5px;
}
.comment p {
    font-size: 18px;
    margin: 10px 0 10px 20px;
}
.comment .time {
    position: absolute; /* Xác định vị trí tuyệt đối cho ngày giờ */
    bottom: 0;
    right: 0;
    font-size: 12px;
    color: #999;
    width: 80px;
    margin: 0 10px 10px 0;
}








